<?php
$temp = '/tmp/';
// asset_converter_type can be 'local' or 'ci_osgetasset' or 'd4os' or gettexture
$asset_converter_type = 'local';
// asset_converter_url is the converter url. ex: http://mywebsite.com
$asset_converter_url = 'http://localhost';
// assets is used only if asset_converter_type = 'local'
$assets = 'http://localhost:8003';
// default map options
$xcenter = '1000';
$ycenter = '1000';
$xsize = '10000';
$ysize = '10000';
?>
