<?php
/**
 * =====================
 * Asset Converter type
 * =====================
 * 'local' : textures are downloaded on the local server and then converted locally using j2k_to_image or imagemagick.
 * 'ci_osgetasset' : textures are taken on a distant server using https://github.com/ssm2017/ci_osgetasset
 * 'd4os' : textures are taken on a distant server using http://drupal.org/project/d4os
 * 'gettexture' : textures are taken on a distant server using https://github.com/ssm2017/osgettexture
 * or the CAPS/GetTexture capability http://opensimulator.org/wiki/Direct_Service_Requests#Direct_GetTexture_capability_handling
 * 'opensim' : textures are taken on a distant server using OpenSimu.exe or Robust.exe.
 */
$asset_converter_type = 'opensim';

/**
 * =====================
 * Asset converter url
 * =====================
 * This url is needed to display the map tile if the asset converter type is not set to "local".
 * The port needs to be in the url (no trailing slash).
 * ex : http://mysimulator.com:8002
 */
$asset_converter_url = 'http://localhost';

/**
 * ====================
 * temp folder
 * ====================
 * This temp folder is required if the asset_converter_type is set to 'local'.
 */
$temp = '/tmp/';

/**
 * ====================
 * Assets url
 * ====================
 * The assets url is required if the asset_converter_type is set to 'local'.
 */
$assets = 'http://localhost:8003';

/**
 * ====================
 * Map settings
 * ====================
 * These are some settings for the map.
 */
$xcenter = '1000';
$ycenter = '1000';
$xsize = '10000';
$ysize = '10000';
?>
